[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]

black = "*"
coverage = "*"
flake8 = "*"
mypy = "*"
pycodestyle = "*"
pydocstyle = "*"
pylama = "*"
pylint = "*"
pyright = "*"
pytest = "*"
ruff = "*"
vulture = "*"

[requires]
python_version = "3"
